.Hero {
  padding-top: 7rem;
  background-color: rgb(0, 0, 0);
  color: rgb(253, 251, 251);
}

.body {
    background-color: #ffffff;
}

#Schoolwork {
    background-color: #f3f4f5;
    padding-bottom: 5rem;
}

.section {
    padding-top: 5rem;
}